@model FidelitasComunica.Models.Paquete
@{
    ViewData["Title"] = "Paquetes de viajes";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Paquetes - Elije el que mejor se adapte a tus gustos</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-light navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="" class="navbar-brand">
                    <h1 class="m-0 text-primary"><span class="text-dark">Fidélitas </span>Comunica</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
               
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
    <!-- Header Start -->
    <div class="container-fluid page-header">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
                <h3 class="display-4 text-white text-uppercase">Paquetes</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Paquetes</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Detalles</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Blog Detail Start -->
                    <div class="pb-3">
                        <div class="blog-item">
                            <div class="position-relative">
                                <img class="img-fluid w-100" src="img/paquete.jpg" alt="Imagen del paquete">
                                <div class="blog-date">
                                    <!-- Mostrar la fecha del paquete o algún otro dato relacionado -->
                                    <h6 class="font-weight-bold mb-n1">@Model.fecha_inicio.Day</h6>
                                    <small class="text-white text-uppercase">@Model.fecha_inicio.ToString("MMM")</small>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white mb-3" style="padding: 30px;">
                            <div class="d-flex mb-3">
                                <span class="text-primary px-2"></span>
                                <!-- Mostrar alguna categoría relacionada con el paquete -->
                                <span class="text-primary text-uppercase">   Categoría del paquete</span>
                            </div>
                            <!-- Mostrar el nombre del paquete -->
                            <h2 class="mb-3">@Model.nombre</h2>

                            <!-- Mostrar otros detalles del paquete -->
                            <p>Destino: @Model.destino</p>
                            <p>Duración: @Model.duracion_dias Días</p>
                            <p>Precio: $@Model.precio</p>
                            <p>Fecha de inicio: @Model.fecha_inicio.ToString("dd/MM/yyyy")</p>
                            <p>Fecha de fin: @Model.fecha_fin.ToString("dd/MM/yyyy")</p>
                            <p>Cantidad de personas: @Model.cantidad_personas</p>
                            <p>Descripción: @Model.descripcion</p>
                            <button type="button" class="btn btn-primary">Reservar</button>
                        </div>
                    </div>
                    <!-- Blog Detail End -->
                </div>
            </div>
        </div>
    </div>


                                <!-- JavaScript Libraries -->
                                <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
                                <script src="lib/easing/easing.min.js"></script>
                                <script src="lib/owlcarousel/owl.carousel.min.js"></script>
                                <script src="lib/tempusdominus/js/moment.min.js"></script>
                                <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
                                <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

                                <!-- Contact Javascript File -->
                                <script src="mail/jqBootstrapValidation.min.js"></script>
                                <script src="mail/contact.js"></script>

                                <!-- Template Javascript -->
                                <script src="js/main.js"></script>
</body>

</html>